extends layout 
 
block content 
  h1= title 
 
  if (toShow == null)
    h2 No instance to delete
  else
    - let dogID = toShow._id
    - let dogType = toShow.dogType
    - let price = toShow.price
    - let weight = toShow.weight

    div 
    div.row 
      div(class='costumeAttr mr-3') dog ID is: 
      div #{dogid} 
    div.row 
      div(class='costumeAttr mr-3') dog Type is: 
      div #{dogType} 
    div.row 
      div(class='costumeAttr mr-3') dog Size is: 
      div #{price} 
    div.row 
      div(class='costumeAttr mr-3') dog weight is: 
      div #{weight}

  